@{
    ViewBag.Title = "AddItem";
}

<h2>Add a new Item</h2>


<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>



    </tr>
    <tr>
        <td>@ViewBag.ID</td>
        <td>@ViewBag.Name</td>
        <td>@ViewBag.Description</td>
        <td>@ViewBag.Quantity</td>
        <td>@ViewBag.Price</td>

    </tr>

</table>

@ViewBag.message


