@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <p class="lead">Welcome to GC Coffee</p>

    <p>   Shop!   <a href="http://localhost:51052/Home/Registration" class="">Register</a></p>
</div>

<table>
    <tr>
        <th>ID</th>
        <template>
        </template>
        <th>Name</th>
        <template>
        </template>
        <th>Description</th>
        <template>
        </template>
        <th>Quantity</th>
        <template>
        </template>
        <th>Price</th>



    </tr>
    @for (int i = 0; i < ViewBag.Items.Count; i++)
    {
        <tr>
            <td>@ViewBag.Items[i].ID</td>
            <td>@ViewBag.Items[i].Name</td>
            <td>@ViewBag.Items[i].Description</td>
            <td>@ViewBag.Items[i].Quantity</td>
            <td>@ViewBag.Items[i].Price</td>

        </tr>
    }


</table>

@*These forms are used to do my different functions*@
@*This first form is for adding a new item*@
<form action="/Items/Edit">
    <input type="text" name="Items" />
    <input type="submit" value="Edit Item" />
</form>
@*This form is for finding items for a specific user*@
<form action="/Items/Delete">
    <input type="text" name="Items" />
    <input type="submit" value="Remove Item" />
</form>

<a href="http://localhost:51052/Items/Create">Add a new Item</a>
