
@{
    ViewBag.Title = "Welcome";
}
<h2>
    Welcome @ViewBag.FirstName!
</h2>
<table style="width:100%">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>PhoneNumber</th>
        <th>Email</th>
        <th>Password</th>
        <th>CoffeeType</th>
        <th>PastryType</th>

    </tr>
    <tr>
        <td>@ViewBag.FirstName</td>
        <td>@ViewBag.LastName</td>
        <td>@ViewBag.PhoneNumber</td>
        <td>@ViewBag.Email</td>
        <td>@ViewBag.Password</td>
        <td>@ViewBag.CoffeeType</td>
        <td>@ViewBag.PastryType</td>

    </tr>
    
</table>
